<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active">
    <button ng-show="connected" class="btn btn-success">
      Rippled!
    </button>
    <button ng-hide="connected" class="btn btn-info" ng-click="connect()">
        <span ng-hide="connecting">Get Rippled!</span>
        <span ng-show="connecting">Connecting...</span>
      </button>
    </li>
    
  </ul>
  <h3 class="text-muted">Ripple Labs Technical Exercise</h3> 
</div>
<span ng-show="loading" class="label label-info">Werking...</span>
<div class="jumbotron">
  <nvd3-pie-chart
      data="chartData"
      id="rippleData"
      showLabels="true"
      x="xFunction()"
      y="yFunction()"
      width="500"
      height="330"
      donut="true"
      donutRatio="1"
      donutLabelsOutside="true">
  <svg height="350"></svg>
</nvd3-pie-chart>
</div>
<div class="row marketing">
  <table class="table">
    <thead>
      <tr>
        <th>BTC</th>
        <th>CNY</th>
        <th>USD</th>
        <th>AUD</th>
        <th>XRP</th>
        <th>CAD</th>
        <th>EUR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{currencyTypes.BTC.amount}}</td>
        <td>{{currencyTypes.CNY.amount}}</td>
        <td>{{currencyTypes.USD.amount}}</td>
        <td>{{currencyTypes.AUD.amount}}</td>
        <td>{{currencyTypes.XRP.amount}}</td>
        <td>{{currencyTypes.CAD.amount}}</td>
        <td>{{currencyTypes.EUR.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
