<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rippleTest</h3>
</div>

<div class="row marketing">
  <table class="table">
    <tr ng-repeat="stuff in socketResp">
      <td>{{stuff.fee_base}}</td>
      <td>{{stuff.fee_ref}}</td>
      <td>{{stuff.ledger_hash}}</td>
      <td>{{stuff.ledger_index}}</td>
      <td>{{stuff.ledger_time}}</td>
      <td>{{stuff.reserve_base}}</td>
      <td>{{stuff.reserve_inc}}</td>
      <td>{{stuff.txn_count}}</td>
      <td>{{stuff.type}}</td>
      <td>{{stuff.validated_ledgers}}</td>
    </tr>
  </table>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
